*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:arial, sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* utilities */
.wrapper{
    position:relative;
}

/* Calculator section  */
.calculator{
    /* width:300px; */
    height:auto;
    padding:20px 15px;
    border-radius:6px;
    display:100%;
    flex-direction:column;
    background:#555;
}
/* screen  selector */
.screen{
    margin-bottom:20px;
    padding:10px;
    border:3px solid #777;
    border-radius:4px;
    background:#f3f3f3;
}
.screen > .content{
    width:100%;
    height:25px;
    font-size:20px;
    border:none;
    outline:none;
    text-align:right;
}

/* buttons selectors  */
.calculator .btn-box{
    display:flex;
    flex-direction:row;
}

.btn{
    width: 60px;
    height: 60px;
    margin: 5px;
    border: none;
    background: #f3f3f3;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.1s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: grid;
    place-items: center;
    cursor: pointer;
}

.btn:active {
    background: #ddd;
    transform: scale(0.95);
}

.result{
    height: 60px;
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    background: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    display: grid;
    place-items: center;
    cursor: pointer;
}